// Breakpoints

$big-phone-width: 480px;
$tablet-width: 600px;
$desktop-width: 1000px;

// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #fff;

$color__link: #fcf4cf;
$color__link-hover: #fff;

$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

// Typography

$font__main: "Playfair Display", serif;
$font__alt: "Economica", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
